@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {font: 12px;color: #333;}
address {font-style: normal;}
small {font-size: medium;}
/* 레이아웃 */
#wrap {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* outline: 1px dotted red;  */
}
/* 공통서식 */
.inner {
    width: 1200px;
    margin: 0 auto;
    /* outline: 1px dotted red; */
}
.clearFix::after {
    content: '';
    display: block;
    clear: both;
}
.inner_in {
  margin: 0 auto;
  width: 600px;
}
* 레이아웃 */
header{
  height: 100px;
}
header .logo { 
  float: left; width: 200px; height: 100px; 
  display: block;
  padding-left: 25px;
  box-sizing: border-box;
  /* outline: 1px dotted blue;  */
}
header .logo a img {
  transition: .5s;
}
header .logo a:hover img {
  transform: scale(0.8);
}
header nav {
  float: left;
  left: 0;
  width: 1000px; height: 100px; 
  /* outline: 1px dotted blue; */
}
header nav .sign {
  position: relative;
  top: 10px;
  height: 25px;
  font-size: 14px;
  /* outline: 1px dotted red; */
}
header nav .sign li {
  float: right;
  width: 50px;
  height: 25px;
  padding: 0 10px;
  text-align: center;
  line-height: 25px;
  /* outline: 1px dotted blue; */
}
header nav .sign li:hover a {
  text-decoration: underline;
}
/* 1 */
header nav ul.menulist>li {
  position: relative;
  float: left;
  width: 25%;
  height: 50px;
  top: 25px;
  font-size: 30px;
  /* outline: 1px dotted green; */
}
header nav ul.menulist>li:hover>a {
  transform: translate(0, -15px) ;
}
header nav ul.menulist>li>.bg_box {
  background: rgba(60, 61, 55, .5);
  z-index: 30;
  display: none;
  width: 100%;height: 30%;
  position: fixed;
  top: 100px;
  left: 0;
}
header nav ul.menulist:hover>li>.bg_box{
  display: block;
}
header nav ul.menulist>li>a {
  display: block;
  float: left;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  /* outline: 1px dotted green ; */
}
/* 2 */
header nav ul.menulist>li>ul {
  position: absolute;
  z-index: 30;
  display: none;
  top: 50px;
  left: 0;
  width: 100%; height: 20%;
  /* outline: 1px dotted green; */
}
header nav ul.menulist:hover>li>ul {
  display: block;
}
header nav ul.menulist>li>ul.sublist li a:hover {
  text-decoration: underline;
  color: #ffffff; 
  font-weight: normal;
}
header nav ul.menulist>li>ul.sublist li a {
  display: block;
  height: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  font-size: 15px;
  color: #fff;
  /* outline: 1px dotted orange; */
}

/* cotainer Area */
#container {
  margin: 70px auto 200px;
  position: relative;
  /* outline: 1px dotted red; */
}
hr.first_line {
  margin-bottom: 30px;
}
.mid_header {
  text-align: center;
  padding: 20px;
  /* outline: 1px dotted red; */
}
.img {
  margin: 0 auto;
  /* outline: 1px dotted red; */
}

.inner_in .text {
    /* outline: 1px dotted red; */
}
.inner_in .text img {
  display: block;
  margin: 50px auto 0;
}
.inner_in .text h3, p {
  text-align: center;
    /* outline: 1px dotted red; */
}
.inner_in .text h3 {
  padding: 30px 0 50px;
  font-size: 30px;
}
.inner_in .text p.complete {
  font-size: 18px;
}
.inner_in .text p.complete span {
  font-weight: bold;
  font-size: 20px;
}
.inner_in .text p.eng {
  font-size: 15px;
  margin-bottom: 40px;
}
.inner_in .text p.eng span {
  font-size: 16px;
  font-weight: bold;
}
.inner_in .text p.mypage {
  font-size: 13px;
  width: 420px;
margin: 0 auto 70px;
padding: 10px;
border-radius: 30px;
background: #FAF7F0;
}
.inner_in .text p.mypage span {
  color: #C96868;
}

#container .btn a {
  display: block;
  width: 200px;
  height: 50px;
  margin-bottom: 70px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  /* outline: 1px dotted blue; */
}
#container .btn a.cancel {
  position: absolute;
  bottom: -150px;
  left: 380px;
  background: #999999;
}
#container .btn a.cancel:hover {
  box-shadow: 5px 5px 5px #999999;
}
#container .btn a.next {
  position: absolute;
  bottom: -150px;
  right: 380px;
  background: #D8D2C2;
}
#container .btn a.next:hover {
  box-shadow: 5px 5px 5px #999999;
}

/* footer Area */
.bgBox {
  background:rgba(60, 61, 55, .5);
  margin: 0 auto;
  width: 100%;
  height: 100px;
}
footer {
  /* outline: 1px dotted blue;s */
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
footer address {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}
footer small {
  display: block;
  padding: 10px;
  font-size: 12px;
}