@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {font: 12px "돋움",dotum,sans-serif;color: #333;}
address {font-style: normal;}
small {font-size: medium;}
/* 레이아웃 */
#wrap {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* outline: 1px dotted red;  */
}
.inner {
  width: 1200px; margin: 0 auto; 
}
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

/* header Area */
header{
  height: 100px;
}
header .logo { 
  float: left; width: 200px; height: 100px; 
  display: block;
  padding-left: 25px;
  box-sizing: border-box;
  /* outline: 1px dotted blue;  */
}
header .logo a img {
  transition: .5s;
}
header .logo a:hover img {
  transform: scale(0.8);
}
header nav {
  float: left;
  left: 0;
  width: 1000px; height: 100px; 
  /* outline: 1px dotted blue; */
}
header nav .sign {
  position: relative;
  top: 10px;
  height: 25px;
  font-size: 14px;
  /* outline: 1px dotted red; */
}
header nav .sign li {
  float: right;
  width: 50px;
  height: 25px;
  padding: 0 10px;
  text-align: center;
  line-height: 25px;
  /* outline: 1px dotted blue; */
}
header nav .sign li:hover a {
  text-decoration: underline;
}
/* 1 */
header nav ul.menulist>li {
  position: relative;
  float: left;
  width: 25%;
  height: 50px;
  top: 25px;
  font-size: 30px;
  /* outline: 1px dotted green; */
}
header nav ul.menulist>li:hover>a {
  transform: translate(0, -15px) ;
}
header nav ul.menulist>li>.bg_box {
  background: rgba(60, 61, 55, .5);
  z-index: 30;
  display: none;
  width: 100%;height: 30%;
  position: fixed;
  top: 100px;
  left: 0;
}
header nav ul.menulist:hover>li>.bg_box{
  display: block;
}
header nav ul.menulist>li>a {
  display: block;
  float: left;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  /* outline: 1px dotted green ; */
}
/* 2 */
header nav ul.menulist>li>ul {
  position: absolute;
  z-index: 30;
  display: none;
  top: 50px;
  left: 0;
  width: 100%; height: 20%;
  outline: 1px dotted green;
}
header nav ul.menulist:hover>li>ul {
  display: block;
}
header nav ul.menulist>li>ul.sublist li a:hover {
  text-decoration: underline;
  color: #ffffff; 
  font-weight: normal;
}
header nav ul.menulist>li>ul.sublist li a {
  display: block;
  height: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  font-size: 15px;
  color: #fff;
  /* outline: 1px dotted orange; */
}

/* container Area */
#wrap #container {
  position: relative;
  /* margin-top: 120px; */
  /* padding: 0 200px; */
/* outline: 1px dotted blue */
}
#wrap #container #slide #banner {
  overflow: hidden;
  width: 1920px;
  height: 700px;
  /* outline: 1px dotted green; */
}
#wrap #container #slide #banner ul {
  position: relative;
  width: 1920px; height: 5600px;
}
#wrap #container #slide #banner ul li {
  width: 1920px; height: 700px;
}
#wrap #container #slide #banner ul li a {
  display: block; 
  width: 1920px; height: 700px;
}


/* contents Area */
#wrap .contents .news {
  margin-top: 100px;
  margin-bottom: 150px;
  height: 300px;
  /* outline: 1px dotted blue; */
}

.contents .news p {
  width: 200px;
  padding: 20px 0;
  line-height: 1.5;
}
.contents .news p span {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.contents .news a img {
  transition: 0.5s;
}
.contents .news  a:hover img {
  transform: scale(1.2);
}
.contents .news .news01 {
  float: left;
  margin:0 50px 0 50px;
  height: 300px;
}
.contents .news .news02 {
  float: left;
  margin: 0 50px;
  height: 300px;
}
.contents .news .news03 {
  float: left;
  margin: 0 50px;
  height: 300px;
}
.contents .news .news04 {
  float: left;
  margin: 0 50px;
  height: 300px;
}
.contents .news .more>a {
  display: block;
  text-align: right;
  /* outline: 1px dotted purple; */
}
/* footer Area */
.bgBox {
  background:rgba(60, 61, 55, .5);
  margin: 0 auto;
  width: 100%;
  height: 100px;
}
footer {
  /* outline: 1px dotted blue;s */
  text-align: center;
  color: #000;
  font-weight: bold;
}
footer address {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}
footer small {
  display: block;
  padding: 10px;
  font-size: 12px;
}