@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 글자서식 */
body {
    font-family: "Roboto", sans-serif;
    font-style: normal
    color: #333;
}
small {font-size: medium;}
address {font-style: normal;}
hr {color: #757473;}
/* 공통서식 */
.inner {
    width: 1180px;
    margin: 0 auto;
    /* outline: 1px dotted red; */
}
.clearFix::after {
    content: '';
    display: block;
    clear: both;
}
/* 레이아웃 */
#header {
  margin: 0 auto;
  width: 1180px;
}
#header .contact {
  margin-bottom: 45px;
  /* outline: 1px dotted red; */
}
#header .contact ul {
  float: right;
  margin-top: 18px;
  /* outline: 1px dotted green; */
}
#header .contact ul li {
  float: left;
  /* outline: 1px dotted blue; */
}
#header .contact ul li a {
  padding: 0 0 0 20px;
  color: #999999;
  /* outline: 1px dotted rgb(128, 0, 43); */
}

#header .logo {
  float: left;
  width: 180px;
  /* outline: 1px dotted red; */
}
#header .nav {
  float: right;
  margin: 8px 0 24px 0;
  /* outline: 1px dotted red; */
}
#header .nav ul {
  float: left;
  /* outline: 1px dotted green; */
}
#header .nav ul li {
  float: left;
  /* outline: 1px dotted blue; */
}
#header .nav ul li a {
  padding: 0 0 0 80px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0);
}
/* container Area */
#container {
  /* outline: 1px dotted red; */
}
#container .box {
  margin: 80px auto 80px;
  width: 600px;
  background: rgba(228,224,225,.2);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  /* outline: 1px dotted green; */
}
#container .box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#container .box h2 {
  padding: 100px 0 50px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  /* outline: 1px dotted blue; */
}
#container #input {
  margin-bottom: 10px;
  /* outline: 1px dotted red; */
}
#container input[type="text"],input[type="password"]  {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  box-sizing: border-box;
  /* outline: 1px dotted blue; */
}
#container #checkbox {
  margin:0 auto 50px;
  width: 400px;
  /* outline: 1px dotted red; */
}

#container #checkbox span {
  font-size: 13px;
}
#container #btn_login button {
  margin-left: 100px;
  width: 400px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0);
  /* outline: 1px dotted blue; */
}
#container #btn_login .login a {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  background: #333333;
  color: #fff;
  line-height: 40px;
  /* outline: 1px dotted blue; */
}
#container #btn_login .login:hover a {
  color: #fff;
  font-weight: bold;
  box-shadow: 5px 5px 5px #999999;
}

#container p#or {
  margin: 30px auto;
  text-align: center;
  height: 20px;
  /* outline: 1px dotted blue; */
}
#container #snslogin {
  /* outline: 1px dotted blue; */
}
#container #snslogin .img {
  margin: 0 auto 30px;
  padding-left: 160px;
  /* outline: 1px dotted blue; */
}
#container #snslogin img {
  float: left;
  display: block;
  margin: 10px 10px;
  filter: drop-shadow(3px 1px 1px #999999);
}
#container #snslogin img:hover {
  filter: drop-shadow(5px 3px 3px #777777);
}
#container .snslogin a {
  margin: 10px;
}

#container p.pw{
  font-size: 13px;
  text-align: center;
  /* outline: 1px dotted blue; */
}
#container p.pw span {
  font-weight: bold;
  font-size: 14px;
}
#container p.pw:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 1px #757473;
  color: #757473;
  font-weight: bold;
}
#container p.join {
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 13px;
  /* outline: 1px dotted blue; */
}
#container p.join:hover {
  text-decoration: underline;
  color: #757473;
  font-weight: bold;
}
#container p.join span {
  font-weight: bold;
  font-size: 14px;
}
#container p.join:hover span {
  text-decoration: underline;
  text-shadow: 0px 0px 1px #757473;
  color: #757473;
  font-weight: bold;
}

#container #imgbox {
  display: inline-block;
  width: 443px;
  margin: 0 70.5px 100px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #444;
  background: rgba(228,224,225,.2);
}
#container #imgbox .banner {
  width: 500px;
  height: 128px;
  overflow: hidden;
}
#container #imgbox .banner ul {
  width: 500px;
  height: 256px;
  position: relative;
}
#container #imgbox .banner ul li {
  width: 443px;
  height: 128px;
  float: left;
}


/* footer Area */
#footer {
    width: 100%;
    background-size: cover;
    background: #333333;
    color: #777777;
}
#footer .title {
    float: left;
    width: 1180px;
    padding: 100px 0 22px;
    border-bottom: 1px solid #777777 ;
    /* outline: 1px dotted green; */
}
#footer .title h3 {
    float: left;
    font-size: 22px;
    /* outline: 1px dotted green; */
}
#footer .title ul {
    float: right ;
    /* outline: 1px dotted green; */
}
#footer .title ul li {
    float: left;
    padding: 0 22px;
}
#footer .inner .title ul li a {}
#footer .address {
    clear: both;
    /* outline: 1px dotted green; */
}
#footer .address {
    padding: 24px 0 72px;
    /* outline: 1px dotted orange; */
}
#footer .address small {
    display: block;
    padding-top: 25px;
    /* outline: 1px dotted orange; */
}