@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 글자서식 */
body {
    font-family: "Roboto", sans-serif;
    font-style: normal
    color: #333;
}
small {font-size: medium;}
address {font-style: normal;}
/* 공통서식 */
.inner {
    width: 1180px;
    margin: 0 auto;
    /* outline: 1px dotted red; */
}
.clearFix::after {
    content: '';
    display: block;
    clear: both;
}
/* 레이아웃 */
#header {
    margin: 0 auto;
    width: 1180px;
}
#header .contact {
    margin-bottom: 45px;
    /* outline: 1px dotted red; */
}
#header .contact ul {
    float: right;
    margin-top: 18px;
    /* outline: 1px dotted green; */
}
#header .contact ul li {
    float: left;
    /* outline: 1px dotted blue; */
}
#header .contact ul li a {
    padding: 0 0 0 20px;
    color: #999999;
    /* outline: 1px dotted rgb(128, 0, 43); */
}

#header .logo {
    float: left;
    width: 180px;
    /* outline: 1px dotted red; */
}
#header .nav {
    float: right;
    margin: 8px 0 24px 0;
    /* outline: 1px dotted red; */
}
#header .nav ul {
    float: left;
    /* outline: 1px dotted green; */
}
#header .nav ul li {
    float: left;
    /* outline: 1px dotted blue; */
}
#header .nav ul li a {
    padding: 0 0 0 80px;
    font-weight: 400;
    color: #555555;
}

/* #container */
#container {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
    width: 100%;
    height: 1300px;
    background: #EEEEEE;
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}
#profileBox {
    position: relative;
    margin: 0 auto 100px;
    width: 1000px;
    height: 800px;
    border: 3px solid #000;
    border-radius: 10px;
}
#profileBox p.name {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 800px;
    /* outline: 1px dotted red; */
    text-shadow: 0px 0px 50px #333;
}
#profileBox p.name a {
    transition: .7s ease-out;
    /* outline: 1px dotted red; */
}
#profileBox p.name a:hover{
    text-shadow: 2px 2px #393E46;
}
#profileBox .bgBox {
    display: none;
}
#profileBox .bgBox .return_name {
    width:300px;
    height:30px;
    margin:45px 0 20px 50px;
    text-align:left;
    font-weight: bold;
    font-size:25px;
    line-height:30px;
    transition: 1s ease-out;
    text-shadow: 0px 0px 50px #333;
}
#profileBox .bgBox .return_name:hover {
    text-shadow: 2px 2px #393E46;
}
#profileBox .bgBox .bg_people {
    position: absolute;
    bottom: -5px;
    right: 0;
    opacity: 0.8;
    transition: .8s;
}
#profileBox .bgBox .bg_people:hover {
    opacity: 1;
}
#profileBox .bgBox .bg_title {
    position: absolute;
    top: 110px;
    left: 32px;
    border-radius: 5px;
    padding: 20px;
    transition: .8s;
    background: #ccc;
}
#profileBox .bgBox .bg_1 {
    position: absolute;
    top: 300px;
    left: 53px;
    
}
#profileBox .bgBox .bg_2 {
    position: absolute;
    top: 400px;
    left: 53px;
}
#profileBox .bgBox .bg_3 {
    position: absolute;
    top: 500px;
    left: 53px;
}
#profileBox .bgBox .bg_4 {
    position: absolute;
    top: 600px;
    left: 53px;
}
#profileBox .bgBox .bg_5 {
    position: absolute;
    top: 700px;
    left: 53px;
}
#profileBox .contents .just_name {
    display: none;
    /* width:300px; */
    height:30px;
    margin:45px 100px 20px 100px;
    text-align:left;
    font-size:25px;
    font-weight: bold;
    line-height:30px;
    text-shadow: 0px 0px 50px #333;
    /* outline: 1px dotted red; */
    /* transition: .8s;
    transform: translate(50%,0) scale(1.2); */
}
#profileBox .contents .hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
}
#profileBox .contents .back {
    display: none;
    position: absolute;
    top: 42px;
    right: 110px;
}
#p_nav {
    display: none;
}
/* p_nav */
#p_nav .privacy {
    float: left;
    margin-left: 50px;
    width: 300px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    /* outline: 1px dotted red; */
}
#p_nav .privacy_img {
    margin-left: 50px;
    width: 200px;
    height: 300px;
    overflow: hidden;
}
#p_nav .privacy_img img {
    outline: 1px dotted red;
    transition: .5s;
}
#p_nav .privacy_img img:hover {
    transform: scale(1.5);
}
#p_nav .privacy ul {
    margin-top: 20px;
    /* outline: 1px dotted red; */
}
#p_nav .privacy ul li {
    float: left;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    /* outline: 1px dotted blue; */
}
#p_nav .privacy>ul>li>img {
    display: inline-block;
    margin-left: 40px;
    margin-right: 20px;
    float: left;
    /* outline: 1px dotted blue; */
}
#p_nav .privacy ul li p {
    float: left;
    /* margin-right: 40px; */
    /* outline: 1px dotted blue; */
}
#p_nav .school {
    float: left;
    width: 600px;
    /* outline: 1px dotted blue; */
}
#p_nav table {
    width: 600px;
    border-collapse: collapse;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}
#p_nav table th {
    border-bottom: 2px solid #000;
}
#p_nav table tr, th, td {
    padding: 5px 0;
    border-bottom: 1px solid #000;
}
#p_nav .awards {
    float: left;
    margin-top: 10px;
    width: 600px;
}
#p_nav .qualifications {
    float: left;
    margin-top: 10px;
    width: 600px;
}
#p_nav .technology {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 600px;
}



/* footer Area */
#footer {
    width: 100%;
    background-size: cover;
    background: #333333;
    color: #777777;
}
#footer .title {
    float: left;
    width: 1180px;
    padding: 100px 0 22px;
    border-bottom: 1px solid #777777 ;
    /* outline: 1px dotted green; */
}
#footer .title h3 {
    float: left;
    font-size: 22px;
    /* outline: 1px dotted green; */
}
#footer .title ul {
    float: right ;
    /* outline: 1px dotted green; */
}
#footer .title ul li {
    float: left;
    padding: 0 22px;
}
#footer .inner .title ul li a {}
#footer .address {
    clear: both;
    /* outline: 1px dotted green; */
}
#footer .address {
    padding: 24px 0 72px;
    /* outline: 1px dotted orange; */
}
#footer .address small {
    display: block;
    padding-top: 25px;
    /* outline: 1px dotted orange; */
}