@charset "utf-8";
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
body{
  font-family: 'SUIT-Regular';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.bar-ing {
  position: fixed;
  top: 10px; left: 0; z-index: 1;
  width: 100%; height: 5px;
  border: 4px solid #393E46;
  box-sizing: border-box;
}
.container {
  display: flex; justify-content: center; align-items: center;
}



/* HEADER */
#Big_header {
  background: #fbfbfb;
  /* outline: 1px dotted red; */
}
#header {
  position: fixed;
  top: 50px; right: 20px;
  z-index: 1;
}
#header .title a {
  position: relative;
  /* outline: 2px dotted red; */
}
#header .title a img{
  transition: .5s;
}
#header .title a img:hover {
  transform: scale(1.2);
  /* outline: 2px dotted red; */
}
#header nav ul {
  display: flex; flex-direction: column; gap: 100px;
  margin-top: 200px;
  /* outline: 2px dotted red; */
}
#header nav ul li {
  position: relative;
  text-align: right; 
  font-size: 2rem;
  text-shadow: 0px 0px 25px #393E46;
  transition: .3s;
}
#header nav ul li:hover {
  font-weight: bold;
  text-shadow: none;
}
.sectionBtn.active {
  text-shadow: 0px 0px 25px #135;
}
@media screen and (max-width : 1200px) {
  #header {
    position: fixed;
    top: 35px; left: 20px;
    z-index: 200;
    /* outline: 2px dotted red; */
  }
  #header .title a div {
    width: 80px; height: 80px;
    top: -25px; right: 15px;
  }
  .header {
    width: 100%;
    display: flex; justify-content: space-between;
    align-items: center;
    /* outline: 2px dotted red; */
  }
  #header nav ul {
    display: flex; flex-direction: row; gap: 40px;
    justify-content: center; align-items: center;
    margin-top: 0;
    /* outline: 2px dotted red; */
  }
  #header nav ul li {
  font-size: 1.2rem;
  }
}
@media screen and (max-width : 575px) {
  #header nav ul {
    display: flex; flex-direction: column; gap: 10px;
    justify-content: center; align-items: center;
    margin-top: 0;
    /* outline: 2px dotted red; */
  }
}


/* MAIN */
#main {
  width: 100%; height: 100vh;
  overflow: hidden;
  /* outline: 1px dotted red; */
}

#main h1 {
  height: 100%;
  font-size: 100px;
  position: absolute; 
  top: 50%; transform: translate(0, -50%);
  z-index: -1;
  color: #efefef60;
  font-weight: bold; /* text-align: center; */
  overflow: hidden;
  /* outline: 1px dotted red; */
}
.main {
  width: 100%; height: 100%;
  margin: 0 auto;
  /* outline: 1px dotted red; */
}
.text_box{
  margin: 0 auto; 
  /* outline: 1px dotted red; */
}
.text_box .text {
  font-size: 5rem;
  font-weight: bold;
  /* outline: 1px dotted red; */
}
.blink {
  animation: blink 0.3s infinite;
  font-size: 6rem;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}

/* AboutMe_new */
#aboutMe {
  width: 100%; height: 100vh; 
  display: flex; justify-content: center; align-items: center;
  /* outline: 1px dotted red; */
}
.aboutMe_container {
  width: 80%; height: 100%; 
  margin-right: 100px;
  position: relative;
  display: flex; flex-direction: column; gap: 150px;
  justify-content: center; align-items: center;
  /* outline: 1px dotted red; */
}
.aboutMe_main {
  width: 100%;
  display: flex; flex-direction: row;
  justify-content: space-evenly; align-items: center;
  /* outline: 1px dotted red; */
}
.title_wrap {
  position: relative;
  /* background: yellow; */
}
h3.title {
  width: 100%; margin-bottom: 50px;
  text-align: center;
  font-size: 3rem;
  /* outline: 1px dotted red; */
}
h3.title.change {
  text-align: left;
  color: #444;
  transition: 1s;
  /* outline: 1px dotted red; */
}
h3.title.change:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title_div {
  position: absolute;
  top: -3rem; right: -7rem;
  width: 7rem; height: 7rem;
  padding: 5px; box-sizing: border-box;
  border-radius: 50%;
  background: #000; color: #fff;
  text-align: center; line-height: 6rem; font-size: 1rem;
  cursor: pointer; transition: 1s;
  animation: bounce 0.5s 0.1s cubic-bezier(0, 0, 0.18, 0.99) infinite alternate;
}
@keyframes bounce{
  to{
      transform: translateY(-30px);
  }
}
.subTitle {
  display: none; opacity: 0;
/*   position: absolute;
  top: 150px; left: 40px; */
  font-size: 20px; line-height: 2;
  color: #5f5f5f;
}

.mine_wrap {
  display: none; opacity: 0;
  /* background: red; */
  /* outline: 1px dotted red; */
}
.basic_mine {
  padding: 0 30px;
  display: flex; flex-direction: row-reverse;
  justify-content: center; align-items: center; gap: 80px;
  /* outline: 1px dotted green; */
}
.basic_mine .photo img {
  width: 180px; border-radius: 5px;
}
.basic_mine .text {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  /* outline: 1px dotted red; */
}
.basic_mine .text .name.ko {
  font-size: 3rem;
  text-align: right;
  /* outline: 1px dotted red; */
}
.basic_mine .text  .name.en {
  margin-bottom: 50px;
}
.basic_mine .text .contact {
  margin: 0 auto 30px;
  display: flex; gap: 30px;
  /* outline: 1px dotted red; */
}
.basic_mine .text .contact div p a {
  width: 80px; height: 80px;
  /* border: 1px solid #000; */ border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex; align-items: center; justify-content: center;
  font-size: 30px; color: #393E46;
  transition: .5s;
  /* outline: 1px dotted red; */
}
.basic_mine .text .contact div p a:hover {
  background: #393E4690; color: #fff;
}
.aboutMe_skills {
  width: 100%;
  display: none; opacity: 0;
}
.skills_wrap {
  width: 100%;
  display: flex; flex-direction: row; gap: 0;
  justify-content: space-around; align-items: center;
  /* outline: 1px dotted red; */
}
.skills_wrap h4 {
  width: 100%; padding: 5px 0; margin-bottom: 20px;
  border-top: 1px solid #393E4620;
  border-bottom: 2px solid #393E4650;
  border-radius: 5px;
  font-size: 20px; text-align: center;
  /* outline: 1px dotted red; */
}
.skills_wrap .skills_inner {
  display: flex;
  justify-content: center; align-items: center;
  /* outline: 1px dotted red; */
}
.skills_wrap .skills_inner .skill {
  padding: 10px;
  /* outline: 1px dotted red; */
}
.skills_wrap .skill img {
  margin: 0 auto 10px; display: block;
  width: 50px;
  /* outline: 1px dotted red; */
}
.skills_wrap .skill p {
  text-align: center; font-size: 20px;
  color: #393E46;
  /* outline: 1px dotted red; */
}



#myWork {
  width: 100%; height: 100vh;
  margin: 0;
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  /* outline: 1px dotted red; */
}
.myWork {
  position: relative;
  width: 80%; margin-right: 150px;
  overflow: hidden;
  /* outline: 1px dotted red; */
}
.myWork .slider-container {
  width: 100%;
  overflow: hidden;
  /* outline: 1px dotted red; */
}
.myWork .slider {
  display: flex;
  transition: 0.5s ease-in-out;
  /* outline: 1px dotted red; */
}
.myWork .slide {
  display: flex; justify-content: center; align-items: center; gap: 50px;
  min-width: 100%;
  transition: 0.5s;
  /* outline: 1px dotted red; */
}
.slide img {
  width: 60%;
  display: block;
  /* outline: 1px dotted red; */
}
.slide__text {
  width: 30%;
  display: flex; justify-content: center; align-items: center;
}
.slide__text .slide__text-inner h4 {
  margin-bottom: 50px;
  font-size: 30px; text-align: center;
}
.slide__text .slide__text-inner p {
  font-size: 18px;
}
.slide__text .slide__text-inner p:nth-of-type(1) {
  margin-bottom: 30px;
}
.slide__text .slide__text-inner p:nth-of-type(2) {
  margin-bottom: 15px;
}
.slide__text .slide__text-inner p:nth-of-type(3) {
  margin-bottom: 50px;
}
.myWork .slide__text-inner .btn {
  display: flex; gap: 20px;
  align-items: center; justify-content: center;
  /* outline: 1px dotted red; */
}
.myWork .slide-btn {
  width: 140px; padding: 7px 0;
  background-color: #fff; border: none; outline: none;
  border-top: 1px solid #393E4640;
  border-bottom: 2px solid #393E4680;
  border-radius: 5px;
  font-size: 15px; cursor: pointer;
}
.slide-btn:hover {
  background: #ececec; color: #222;
}
/* 페이지네이션 버튼 스타일 */
.pagination {
  position: absolute;
  top: 100px;
  right: 0;
  transform: translateX(-50%);
  display: flex; flex-direction: row;
  gap: 5px;
  /* outline: 1px dotted red; */
}

.pagination button {
  width: 14px;
  height: 14px;
  background-color: #ddd; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.pagination .active {
  background: #393E46;
}


#myDesign {
  width: 100%; margin: 200px 0;
  display: flex; align-items: center; justify-content: center;
  /* outline: 1px dotted red; */
}
.myDesignWrap {
  width: 80%; margin-right: 150px;
  column-count: 3;
  column-gap: 15px;
}
.image-container {
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.image-container:hover img {
  transform: scale(1.1);
}
.image-text {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7); color: #fbfbfb;
  padding: 10px; font-size: 16px; box-sizing: border-box;
  opacity: 0; transition: opacity 0.3s ease;
  display: flex; flex-direction: column; gap: 5px;
  justify-content: center; align-items: center;
  /* outline: 1px dotted red; */
}
.image-container:hover .image-text {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
  color: #333;
  font-size: 14px;
}

footer p {
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  color: #393E46;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.show {
  display: block; opacity: 1;
  animation: classShow;
  animation-duration: 0.5s;
}
.hide {
  display: none; opacity: 0;
  animation: classHide;
  animation-duration: 0.5s;
}
@keyframes classHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes classShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width:1440px) {
  #aboutMe {
    height: 200vh;
  }
  .aboutMe_main {
    margin-top: 100px;
    flex-direction: column; gap: 100px;
    /* outline: 1px dotted blue; */
  }
  .title_wrap {
    text-align: center;
  }
  h3.title {
    margin-bottom: 30px;
  }
  h3.title.change {
    text-align: center;
  }
  .skills_wrap {
    flex-direction: column; gap: 30px;
    /* outline: 1px dotted red; */
  }

  #myWork {
    height: 100vh;
  }
  .myWork .slide {
    flex-direction: column; gap: 0;
    /* outline: 1px dotted blue; */
  }
  .slide img{
    width: 60%;
    margin: 0 auto;
    /* outline: 1px dotted red; */
  }
  .slide__text {
    width: 60%;
  }
  .myWork .slide__text .slide__text-inner h4 {
    margin-bottom: 30px;
    font-size:28px; 
  }
  .slide__text .slide__text-inner p:nth-of-type(1) {
    margin-bottom: 15px;
  }
  .slide__text .slide__text-inner p:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .slide__text .slide__text-inner p:nth-of-type(3) {
    margin-bottom: 20px;
  }
  .pagination {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    display: flex; flex-direction: row;
    gap: 5px;
    /* outline: 1px dotted red; */
  }
}
@media screen and (max-width:1200px) {
  .aboutMe_container {
    margin-right: 0; gap: 100px;
    /* outline: 1px dotted red; */
  }
  .aboutMe_main {
    margin-top: 100px;
    flex-direction: column; gap: 0;
    /* outline: 1px dotted blue; */
  }
  .title_wrap {
    text-align: center;
  }
  h3.title.change {
    text-align: center;
  }
  .subTitle {
    font-size: 18px;
  }
  .basic_mine {
    margin-top: 80px;
    flex-direction: column-reverse; gap: 20px;
    /* outline: 1px dotted green; */
  }

  .myWork {
    margin-right: 0;
    /* outline: 1px dotted red; */
  }
  .slide img{
    width: 60%;
  }


  .myDesignWrap {
    width: 80%; margin-right: 0;
    column-count: 2;
    column-gap: 10px;
  }
  .image-text {
    height: 100%;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) { 
  .aboutMe_main {
    gap: 20px;
    /* outline: 1px dotted blue; */
  }
  h3.title {
    font-size: 20px;
  }
  .subTitle {
    font-size: 14px;
  }
  .basic_mine {
    gap: 10px;
    /* outline: 1px dotted green; */
  }
  .basic_mine .text {
  }
  .basic_mine .text .name.en {
    margin-bottom: 20px;
  }
  .basic_mine .text .contact div p a {
    width: 60px; height: 60px;
    font-size: 25px; 
    /* outline: 1px dotted red; */
  }
  .skills_wrap .skill img {
    width: 40px;
    /* outline: 1px dotted red; */
  }
  .skills_wrap .skill p {
    font-size: 18px;
    /* outline: 1px dotted red; */
  }

  .slide img{
    width: 80%;
  }
  .pagination button {
    width: 12px; height: 12px;
  }

} 
@media (max-width: 575px) {
  .skills_wrap h4 {
    font-size: 18px;
    /* outline: 1px dotted red; */
  }
  .skills_wrap .skills_inner .skill {
    padding: 5px;
  }
  .skills_wrap .skill img {
    width: 30px;
    /* outline: 1px dotted red; */
  }
  .skills_wrap .skill p {
    font-size: 15px;
    /* outline: 1px dotted red; */
  }

  .slide__text .slide__text-inner h4 {
    font-size: 18px; 
  }
  .slide__text .slide__text-inner p {
    font-size: 14px;
  }

  .myDesignWrap {
    column-count: 1;
    column-gap: 10px;
  }
} 
@media (max-width: 320px) {
  .slide__text .slide__text-inner h4 {
    font-size: 16px; 
  }
  .slide__text .slide__text-inner p {
    font-size: 12px;
  }
}